@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);


#footer1-3 P {
  color: #000000;
  font-family: 'Slabo 27px', serif;
  font-size: 11px;
}
#content1-g P {
  font-size: 12px;
  font-family: 'Slabo 27px', serif;
  color: #252525;
}






#header1-c .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}
#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-8 .btn {
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}
#contacts1-9 I {
  font-family: 'Slabo 27px', serif;
  font-size: 13px;
  color: #000000;
  text-align: right;
}
#contacts1-9 P {
  font-family: 'Slabo 27px', serif;
  font-size: 13px;
  color: #000000;
}
#contacts1-9 SPAN {
  color: #000000;
}
#footer1-3 P {
  color: #000000;
  font-family: 'Slabo 27px', serif;
  font-size: 11px;
}
