@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);




#footer1-3 P {
  color: #000000;
  font-family: 'Slabo 27px', serif;
  font-size: 11px;
}
#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-8 .btn {
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}
#content1-1s P {
  color: #000000;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}


#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-8 .btn {
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}


#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-8 .btn {
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}
#content1-17 P {
  color: #000000;
  text-align: right;
  font-size: 12px;
}
#content1-1o P {
  color: #000000;
  text-align: right;
  font-size: 12px;
}



#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-8 .btn {
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}
#content1-1w P {
  color: #000000;
  text-align: right;
  font-size: 12px;
}
#image2-q SMALL {
  color: #000000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
}
#content1-14 P {
  color: #000000;
  text-align: right;
  font-size: 12px;
}






#header3-18 H3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}
#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-8 .btn {
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}
#contacts1-9 I {
  font-family: 'Slabo 27px', serif;
  font-size: 13px;
  color: #000000;
  text-align: right;
}
#contacts1-9 P {
  font-family: 'Slabo 27px', serif;
  font-size: 13px;
  color: #000000;
}
#contacts1-9 SPAN {
  color: #000000;
}
#footer1-3 P {
  color: #000000;
  font-family: 'Slabo 27px', serif;
  font-size: 11px;
}



#content1-p P {
  color: #000000;
  text-align: center;
}
#footer1-n P {
  color: #000000;
  font-family: 'Slabo 27px', serif;
  font-size: 11px;
}
#dropdown-menu-2btn-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8 .navbar-brand a {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
#dropdown-menu-2btn-8 .nav .link,
#dropdown-menu-2btn-8 .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-8 .navbar,
#dropdown-menu-2btn-8 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8 .dropdown-menu a:hover,
#dropdown-menu-2btn-8 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-8 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-8 .btn {
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}



#footer1-1d P {
  color: #000000;
  font-family: 'Slabo 27px', serif;
  font-size: 11px;
}
#dropdown-menu-2btn-1e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1e .navbar-brand a {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
#dropdown-menu-2btn-1e .nav .link,
#dropdown-menu-2btn-1e .dropdown-item {
  font-size: 0.8em;
  color: #000000;
}
#dropdown-menu-2btn-1e .navbar,
#dropdown-menu-2btn-1e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1e .dropdown-menu a:hover,
#dropdown-menu-2btn-1e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1e .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-1e .btn {
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}
#content1-1g P {
  color: #000000;
  text-align: right;
  font-size: 12px;
}
